
/*
    Main menu
*/

.main-menu li {
    display: inline-block;
    text-transform: uppercase;
}
.main-menu li a {
    text-decoration: none;
}

.main-menu ul{
    padding-left: 0;
}

.main-menu li, 
.main-menu li a {
    color:black;
}

.main-menu li{
    padding: 10px;
}

.main-menu li:hover{
    background: hotpink;
}

/* Sub-menu */
.main-menu ul li{
    position: relative;
}
.main-menu ul ul {
/*    display: none;*/
    position: absolute;
    left:0;
    top:38px;
    width: 100%;
    opacity: 0; 
    transition: 2.5s max-height ease-out,2s color;
    max-height: 0px;
    overflow: hidden;
    color: blue
}
.main-menu ul ul li{
    display: block;
    background-color: white;
}
.main-menu ul li:hover ul {
/*    display: block;*/
    opacity: 1;
    max-height: 1000px;
    color: red;
}
