/* MOBILE */
.columns section {
    display: none;
}

.main-wrapper {
    width: 100%;
    max-width: 1000px;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .main-wrapper {
        width: 80%;
        margin: 0 auto;
    }
}
/* SCREEN */
@media screen and  (min-width: 960px) {
    .columns>section {
        display: block;
    }
}
.logo{
    background: 0px 0px url(https://placekitten.com/640/640);
    height: 100px;
    width: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
    padding: 10px;
    border: 1px solid black;
    float: right;
}

.top-title{
    color: rgba(255, 0, 0,0.5);
    background: lightblue;
    border: 2px solid darkgreen;
    text-shadow: 3px 1px 0px rgb(110, 0, 0);
    box-shadow: 10px 10px 0px 0px blue;
}

.columns {
    display: flex
}

.columns>.main-column {
    width: 100%;
}

@media print {
    .columns>section {
        display: none;
    }
}

img.text-image {
    margin: 10px;
}

img.text-image.image-right {
    float: left;
    margin-right: 20px;
}

img.text-image.image-left {
    float: right;
    margin-left: 20px;
}

p:target {
    background: red;
}

@media print{
    a[href^="http"]:after {
        content: ' (' attr(href) ')';
        color: gray;
    }
}


img.animation-grow {
    transition: 1s transform ease-in-out;
}
img.animation-grow:hover {
    transform: scale(1.3) rotate(10deg);
}


.loader{
    border: 3px solid blue;
    width: 20px;
    height: 20px;
    display: block;
    transform: rotate(0);
    transition: 1s transform;
    border-radius: 50%;
    border-left: none;
    border-top: none;
    
    animation: spinner;
    animation-duration: .2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-direction: reverse;
}

@keyframes spinner{
    0%{
        transform: rotate(0deg);
    }
    25%{
        border-color:red;
    }
    50%{
    }
    100%{
        border-color:blue;
        transform: rotate(360deg);
    }
}

@keyframes mover{
    0%{
        transform:translate(0,0)
    }
    60%{
        transform:translate(100%,0)        
    }
    80%{
        transform:translate(100%,50%)        
    }
    80%{
        transform:translate(0%,50%)        
    }
}
.cat-mover:hover{
    animation: 2s 1s mover infinite;
}







