@font-face {
  font-family: 'Nasz Font';
  src: url('fonts/LibreBaskerville-Regular.ttf');
}

/*
html{
    font-size: 15px;
}
*/
/* BAZOWA */
body{
/*    font-size: 100%;*/
    font-size: 15px;
}

/* NAGŁÓWKI */
h1{
    font-size: 2em;
    margin-bottom: .5em;
}

h2{
    font-size: 1.5em;    
}

h1,h2{
    font-family: "Lobster", sans-serif;
}

/* TREŚĆ */
p{
    font-size: 1em;
    margin-bottom: 1em;
    line-height: 1.5em;
    text-align: justify;
    
    font-family: "Nasz Font", "Times New Roman", serif;
}

/* MENU */
li, li a{
    
}

/*
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
    font-kerning: auto;
    text-align: justify;
    font-variant: common-ligatures;
    font-family: "Helvetica", "Trebuchet MS", "Times New Roman", serif;

*/